* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.search__input {
  border: none;
  background-color: transparent;
  outline: none;
}

.search__input::-webkit-input-placeholder {
  color: lightgray;
}

.search__input:-ms-input-placeholder {
  color: lightgray;
}

.search__input::-ms-input-placeholder {
  color: lightgray;
}

.search__input::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.nav__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background: url("https://media.istockphoto.com/photos/black-brick-wall-brickwork-background-for-design-picture-id918375156?k=20&m=918375156&s=612x612&w=0&h=9AFKI2AXbLUO0rF-88cwb7bYvir-FP3ayMC4n9bENCs=");
  -webkit-clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
  overflow: hidden;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500vw;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.slider__item {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider__item:nth-child(1) .slider__bg {
  background-color: #369e62;
}

.slider__item:nth-child(2) .slider__bg {
  background-color: rebeccapurple;
}

.slider__item:nth-child(3) .slider__bg {
  background-color: teal;
}

.slider__item:nth-child(4) .slider__bg {
  background-color: cornflowerblue;
}

.slider__item:nth-child(5) .slider__bg {
  background-color: #7c7350;
}

.slider__item:nth-child(1) .slider__price {
  color: #369e62;
}

.slider__item:nth-child(2) .slider__price {
  color: rebeccapurple;
}

.slider__item:nth-child(3) .slider__price {
  color: teal;
}

.slider__item:nth-child(4) .slider__price {
  color: cornflowerblue;
}

.slider__item:nth-child(5) .slider__price {
  color: #7c7350;
}

.slider__title {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.slider__price {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}

.slider__bg {
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}

.slider__img {
  z-index: 1;
}

.buy {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: white;
  border: 1px solid gray;
  background-color: black;
  z-index: 1;
  cursor: pointer;
}

.buy:hover {
  background-color: white;
  color: black;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.feature__icon {
  height: 50px;
  width: 50px;
}

.feature__title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.feature__description {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
}

.product__img {
  width: 50%;
}

.product__details {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.product__title {
  font-size: 75px;
  font-weight: 900;
}

.product__description {
  font-style: 24px;
  color: gray;
}

.colors, .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
}

.product__btn {
  border: none;
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.product__btn:hover {
  background-color: white;
  color: black;
}

.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.82);
}

.payment__title {
  font-size: 20px;
  color: lightgray;
}

.payment__input {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payment__input::-webkit-input-placeholder {
  color: #a3a3a3;
}

.payment__input:-ms-input-placeholder {
  color: #a3a3a3;
}

.payment__input::-ms-input-placeholder {
  color: #a3a3a3;
}

.payment__input::placeholder {
  color: #a3a3a3;
}

.payment__button {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  background-color: #369e62;
  color: white;
  border: none;
  -webkit-box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.82);
  cursor: pointer;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__icon {
  margin-right: 10px;
}

.cards__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sm {
  width: 30%;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 2px;
}

.gallery {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.gallery__img {
  width: 100%;
}

.newSeason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newSeason__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newSeason__img {
  width: 100%;
  height: 500px;
}

.newSeason__title {
  font-size: 40px;
}

.newSeason__btn {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-size: 16px;
}

.footer__list {
  padding: 0;
  list-style: none;
}

.footer__item {
  margin-top: 10px;
  color: gray;
  cursor: pointer;
}

.footer__input {
  padding: 5px;
}

.footer__btn {
  padding: 5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.footer__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }
  .search {
    display: none;
  }
  .nav__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .slider {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .slider__img {
    width: 90%;
  }
  .slider__bg {
    width: 100%;
    height: 100%;
  }
  .slider__title {
    display: none;
  }
  .slider__price {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgray;
  }
  .buy {
    right: 0;
    top: 0;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product {
    -webkit-clip-path: none;
            clip-path: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__details {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
  }
  .product__title {
    font-size: 50px;
    margin: 0;
  }
  .product__img {
    width: 80%;
  }
  .gallery {
    display: none;
  }
  .newSeason {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newSeason__item:nth-child(2) {
    padding: 50px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left {
    padding: 20px;
    width: 90%;
  }
  .footer__right {
    padding: 20px;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
  }
  .payment {
    width: 90%;
    padding: 20px;
  }
}

@media screen and (max-width: 770px) {
  nav {
    padding: 20px;
  }
  .search {
    display: none;
  }
  .nav__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .slider {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .slider__img {
    width: 90%;
  }
  .slider__bg {
    width: 100%;
    height: 100%;
  }
  .slider__title {
    display: none;
  }
  .slider__price {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgray;
  }
  .buy {
    right: 0;
    top: 0;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product {
    -webkit-clip-path: none;
            clip-path: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__details {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
  }
  .product__title {
    font-size: 50px;
    margin: 0;
  }
  .product__img {
    width: 80%;
  }
  .gallery {
    display: none;
  }
  .newSeason {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newSeason__item:nth-child(2) {
    padding: 50px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left {
    padding: 20px;
    width: 90%;
  }
  .footer__right {
    padding: 20px;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: whitesmoke;
  }
  .payment {
    width: 90%;
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */